.board {
  flex: 1;
  padding: 20px;
  border: 2px dashed #888;
  border-radius: 10px;
  min-height: 300px;
  background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.board.over {
  background-color: #d4f1f4;
}
